*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: rgb(12, 12, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: -100px;
}
.app{
    background-color: #fff;
    width: 100%;
    max-width: 457px;
    padding: 30px;
    border-radius: 20px;
}
.app h1{
    font-size: 25px;
    color: #131111;
    letter-spacing: .4px;
    border-bottom: 1px solid #555;
    padding-bottom:20px ;
    font-weight: 700;
}
  .quiz h2{
    font-size: 25px;
    color: #131111;
    letter-spacing: .3px;
   margin: 15px 0 ;
   font-weight: 600;
  }  
.btn{
    width: 100%;
    text-align: left;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #5555;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 500;
    transition: all .4s;
    cursor: pointer;
}

.btn:hover:not([disabled]){
    background-color: #131111;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
  background-color:rgb(12, 12, 62); 
  padding: 13px 28px; 
  letter-spacing: .9px;
  border-radius: 10px;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  margin: 15px auto;
  display: block;
  display: none;
}

.correct{
    background-color: #9aeabc ;
}
.incorrect{
    background-color: #ff9393;
}


















